@{
  Layout = "_Layout";
}

@using PierreJustCannotHelpHimself.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    <label for="Email">Email:</label>
    @Html.TextBoxFor(m => m.Email)

    <label for="Pasword">Password:</label>
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
}