@{
  Layout = "_Layout";
}

@using PierreJustCannotHelpHimself.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <label for="Email">Email:</label>
    @Html.TextBoxFor(user=> user.Email)

    <label for="Role">Role:</label>
    <select name="Role" id="Role">
    <option value="Employee">Employee</option>
    <option value="Customer">Customer</option>
  </select>

    <label for="Password">Password:</label>
    @Html.PasswordFor(user=> user.Password)

    <label for="ConfirmPassword">Confirm:</label>
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register" />
}